node_modules
dist
.next
out

.env
.env.local
.env.*.local
.env.development
.env.production

*.log
npm-debug.log*
*.tsbuildinfo

# editors & tools
.idea
.vscode
*.swp
*.swo
.DS_Store

# ignore hidden tool dirs (keep .husky, .gitignore, etc.)
!.gitignore
.vercel
.env*.local
